
{block content}

<div class="row" n:if="!$user->isLoggedIn()">
    <div class="col-sm-6 col-md-offset-4">
        <br /><br /><br /><br /><br />
        <a n:href="skautisLogin-open!" class="btn btn-success btn-block btn-lg">Přihlásit se přes SkautIS</a>
        <br /><br /><br /><br /><br />
    </div>
</div>