
{block content}

<div class="row" n:if="!$user->isLoggedIn()">
    <div class="col-sm-6">
        <a n:href="skautisLogin-open!" class="btn btn-success btn-block btn-lg">Přihlásit se přes Skautis</a>
    </div>
</div>