{block content}

{control tblGrid}

<a href="{plink new}" class="btn">Poslat nový infomail</a>

<h4>Automatické emaily</h4>
<ul>
    <li><a href="{plink email 'serviceteam_registration'}">Při registraci Servistýmu</a></li>
    <li><a href="{plink email 'serviceteam_registration_info'}">Při registraci Servistýmu (druhý email s informacemi o platbě)</a></li>
    <li><a href="{plink email 'participant_registration'}">Při registraci Účastníka</a></li>
    <li><a href="{plink email 'participant_registration_info'}">Při registraci Účastníka (druhý email s informacemi o podmínkách přijetí)</a></li>
    <li><a href="{plink email 'group_payment'}">Celé skupine po zaškrtnutí (tzn schválení) inspira a prezentace</a></li>
</ul>

{/block}
