{block content}

{snippet modal}
<div class="modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{$item->subject}</h3>
    </div>
    <div class="modal-body">
        
            <div class="row">
                <div class="span8">
                  
                {!$item->text}
                
                
                
                </div>

                <div class="span3">
                    <h4>
                        <small>Stav</small>
                        <div class="btn-group" n:snippet="status">
                            <a class="btn btn-large btn-block disabled" href="#">
                                <span class="ficon ficon-participant-status-{$item->getStatus()->id}"></span>
                                {!$item->getStatus()->name}
                            </a>
                        </div>
                    </h4>
                    
                    {snippet send}
                    {if $item->getStatus()->id == Infomail::STATUS_CONCEPT}
                    <a class="btn btn-block btn-primary ajax" href="{plink send! $item->id, toModal => false}" onclick="return confirm('Opravdu chcete tento infomail odeslat?');">Odeslat Infomail</a>
                    {/if}
                    {/snippet}
                    
                </div>

                
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="span8">  
                    
               
                </div>
                <div class="span4">                   

                </div>
            </div>
        
    </div>
    <div class="modal-footer">
        <a href="{$backlink}" class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</a>
    </div>
</div>
{/snippet}
{/block}