{include 'head.latte'}
<p>
    Ahoj!
</p>
<p>
    Jsme rádi, že ses registroval na Obrok 2019 za servistým, bohužel jsme ale od tebe ještě nepřijali žádnou platbu.
</p>
<p>
    Nyní jsme tě vyřadili nebo brzo vyřadíme z registrace akce Obrok 2019. Pokud si stále přeješ nám s akcí pomoci, prosím zaregistruj se znovu a tentokrát do 14 dní zaplať podle údajů v systému.
</p>
<p>
    S pozdravem<br />
    tým registrace Obrok 2019
</p>
{include 'foot.latte'}