{include 'head.latte'}
<h1>Právě si byl pozván do skupiny "{$group->name} - {$group->city}"</h1>

<p>Po kliknutí na následující odkaz se zaregistruješ do skupiny</p>

<p><strong><a href="{$link}">{$link}</a></strong></p>


{include 'foot.latte'}
