{include 'head.latte'}
<h1>Vaše nové heslo</h1>
<p>
	Na stránkách <a href="{link //Homepage:}">{link //Homepage:}</a> vám bylo právě vegenerováno heslo.
</p>
<p>
	Vaše nové heslo je: <strong>{$password}</strong>
</p>
<p>
	Svoje heslo si můžeš změnit po přihlášní na <a href="{link //Login:}">{link //Login:}</a>
</p>
{include 'foot.latte'}
