{include 'head.latte'}
<h1>Právě si byl pozván do zaregistorvané skupiny na Obrok 2017</h1>

<p>Po kliknutí na následující odkaz se přihlaš přes SkautIS a doplň svojě údaje.</p>

<p><strong><a href="{$link}">Vstoupit do skupiny</a></strong></p>
( {$link} )

{include 'foot.latte'}
