{include 'head.latte'}
<h1>Vaše nové heslo</h1>
<p>
	Na stránkách <a href="{link //:Front:Login:default}">{link //:Front:Login:default}</a> vám bylo právě vygenerováno heslo.
</p>
<p>
	Vaše nové heslo je: <strong>{$password}</strong>
</p>
<p>
	Svoje heslo si můžeš změnit po přihlášní na <a href="{link //:Front:Login:default}">{link //:Front:Login:default}</a>
</p>
{include 'foot.latte'}
