/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */


/*@import 'https://fonts.googleapis.com/css?family=Open+Sans';*/

/*@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.woff);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.woff);
    font-weight: bold;
}*/


@font-face {
	font-family: 'SKAUT-Bold';
	src: url('../fonts/skaut-bold-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/skaut-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/skaut-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/skaut-bold-webfont.svg#skaut-bold-webfont') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'themix';
	src: url('../fonts/TheMix_LT_400.eot');
	src: url('../fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
	src: url('../fonts/TheMix_LT_400.woff') format('woff'),
	url('../fonts/TheMix_LT_400.svg#themix') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'themix';
	src: url('../fonts/TheMix_LT_400i.eot');
	src: url('../fonts/TheMix_LT_400i.eot? #iefix') format('embedded-opentype');
	src: url('../fonts/TheMix_LT_400i.woff') format('woff'),
	url('../fonts/TheMix_LT_400i.svg#themix') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'themix';
	src: url('../fonts/TheMix_LT_700.eot');
	src: url('../fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
	src: url('../fonts/TheMix_LT_700.woff') format('woff'),
	url('../fonts/TheMix_LT_700.svg#themix') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'themix';
	src: url('../fonts/TheMix_LT_700i.eot');
	src: url('../fonts/TheMix_LT_700i.eot? #iefix') format('embedded-opentype');
	src: url('../fonts/TheMix_LT_700i.woff') format('woff'),
	url('../fonts/TheMix_LT_700i.svg#themix') format('svg');
	font-weight: 700;
	font-style: italic;
}


/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.centered {
	text-align: center
}

.doprava {
	text-align: right;
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */

html {
	height: 100%;
}
body {
	font-family: themix, Lato, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	/*background-color: #333;*/
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'SKAUT-Bold', Helvetica, sans-serif;
	font-weight: 700;
	color: #FFF;
}

#logo {
	max-width: 80%;
	height: auto;
}

@media (min-width: 721px) and (max-width: 1366px) {
#logo {
max-width: 55%;
height: auto;
}
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
}

.navbar-default .navbar-brand {
	color: #315198;
}

.navbar-default {
	font-weight: 700;
	background-color: #299172;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: transparent;
	border-bottom: 3px solid white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: white;
	background-color: transparent;
	border-bottom: 1px solid white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	margin-top: 0;
	padding-top: 0;
	width: 100%;
	background: #299172;
}

@-webkit-keyframes LogoGradient {
 0% {background-position:51% 0%}
 50% {background-position:50% 100%}
 100% {background-position:51% 0%}
}
@-moz-keyframes LogoGradient {
 0% {background-position:51% 0%}
 50% {background-position:50% 100%}
 100% {background-position:51% 0%}
}
@keyframes LogoGradient {
 0% {background-position:51% 0%}
 50% {background-position:50% 100%}
 100% {background-position:51% 0%}
}

#headerwrap_logo {
	/*background: url(../img/pozadi.png) no-repeat center top;*/
	margin-top: 0;
	padding-top: 60px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 60px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#headerwrap h1 {
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 50px;
}

#headerwrap h4 {
	font-weight: 400;
}

#toplist{
	display:none;
	}

p.popisek {
	/*font-family: themix, Lato, Helvetica, sans-serif;*/
	font-size: 20px;
	font-weight: 400;
}

p.popisek_hlavni {
	margin-top: 15px;
	font-size: 20px;
	font-weight: 700;
}

p.maly{
	font-size: 16px;
}

p.registrace {
	line-height: 200%;
	text-transform: none;
	font-family: 'SKAUT-Bold', Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	text-align:center;
}

p.doleva, h2.doleva {
	text-align: left;
}

p.doprava {
	text-align: right;
}

p.zapati{
	margin:0;
	padding-top: 11px;
	}
	
#odpocet,
#odpocet-ucastnici
{
	font-size: 30px;
}

@media (max-width: 992px) {
p.zapati {
	padding-bottom: 11px;
	}
}

a.nahoru {
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 50%;
}

a.logoskaut {
	display: block;
	margin: 0;
	padding: 0;
}

a.svetly, p.svetly {
	color: #ffffff;
}

p.zapati.tmavy, a.tmavy, p.tmavy, section h2.section-heading.tmavy {
	color: white;
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 20px;
	opacity: 0.9;
}

#social i:hover {
	opacity: 1;
}

#footerwrap-fake {
	/*padding-top: 10px;*/
	padding-bottom: 0;
	/*background-color: #299172;*/
	height: 90px;
}

#footerwrap {
	padding-top: 10px;
	padding-bottom: 0;
	background-color: #299172;

	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

#footerwrap p {
	color: #315198;
	margin-left: 8px;
}

#workwrap {
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 300px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#workwrap h1 {
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
}

/*#program, #partneri, #nastym, #odpocetBox {*/
	/*background: #315198; !* For browsers that do not support gradients *!*/
	/*background: -webkit-linear-gradient(#315198, #40b3cb); !* For Safari 5.1 to 6.0 *!*/
	/*background: -o-linear-gradient(#315198, #40b3cb); !* For Opera 11.1 to 12.0 *!*/
	/*background: -moz-linear-gradient(#315198, #40b3cb); !* For Firefox 3.6 to 15 *!*/
	/*background: linear-gradient(#315198, #40b3cb); !* Standard syntax *!*/
/*}*/

/*#kontakty, #otazky, #informace {*/
	/*background: #d64389; !* For browsers that do not support gradients *!*/
	/*background: -webkit-linear-gradient(#d64389, #dfb72b); !* For Safari 5.1 to 6.0 *!*/
	/*background: -o-linear-gradient(#d64389, #dfb72b); !* For Opera 11.1 to 12.0 *!*/
	/*background: -moz-linear-gradient(#d64389, #dfb72b); !* For Firefox 3.6 to 15 *!*/
	/*background: linear-gradient(#d64389, #dfb72b); !* Standard syntax *!*/
/*}*/

 @-keyframes pulse {
 0% {
background-color: #315198;
}
 25% {
background-color: #40b3cb;
}
 50% {
background-color: #d64389;
}
 75% {
background-color: #dfb72b;
}
 100% {
background-color: #315198;
}

}
 @-ms-keyframes pulse {
 0% {
background-color: #315198;
}
 25% {
background-color: #40b3cb;
}
 50% {
background-color: #d64389;
}
 75% {
background-color: #dfb72b;
}
 100% {
background-color: #315198;
}

}
 @-webkit-keyframes pulse {
 0% {
background-color: #315198;
}
 25% {
background-color: #40b3cb;
}
 50% {
background-color: #d64389;
}
 75% {
background-color: #dfb72b;
}
 100% {
background-color: #315198;
}
}

.navbar-header {
/*background-color: #666;*/
}

#aboutwrap {
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Gallery */
.gallery {
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}

.galerry .portfolio-caption {
	padding: 10px;
}

.nahoru {
	width: 70px;
	height: 70px;
}

.logoskaut {
	width: 160px;
	margin-top: 8px;
}

.ikona {
	width: 225px;
	height: auto;
}

.bg-light-gray {
	background-color: #f2f2f2;
}

.team-member {
	margin-bottom: relative;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
}

.team-member img {
	margin: 0 auto;
}

.team-member h4 {
	margin-top: 20px;
	margin-bottom: 0;
	text-transform: none;
}

.team-member p {
	padding: 5px 0;
	margin-top: 0;
}

section {
	padding: 80px 0;
}

section h2.section-heading {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 50px;
	color: #FFF;
	text-transform: uppercase;
}

section h3.section-subheading {
	margin-bottom: 25px;
	text-transform: none;
	font-family: 'SKAUT-Bold', Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
}

iframe {
	width: 100%;
	height: 300px;
	border: 0;
}

#logo_menu {
	/*width: 360px;*/
	/*height: 45px;*/
	margin-top: 8px;
}

@media (max-width: 992px) {
#logo_menu {
	/*width: 280px;*/
	/*height: 35px;*/
	margin-top: 13px;
	margin-left: 10px;
	margin-bottom: 10px;
}

}

#hithitBox{
background-color:#fff;
	}
	
@media (min-width: 721px) and (max-width: 1280px) {
#uvod {
	margin-top: -300px;
}	

}

@media (min-width: 1281px) and (max-width: 1367px) {
#uvod {
	margin-top: -250px;


}

}


.hithitVnitrek{

}