{block content}
<div class="container">
    {if $item->nickName}
        <h1>{$item->nickName} <small>/{$item->firstName} {$item->lastName}/</small></h1>
    {else}
        <h1>{$item->firstName} {$item->lastName}</h1>
    {/if}

    <div class="row">
        <div class="col-md-8 col-md-offset-0">
            {control frmEdit}
        </div>
    </div>

</div>
{/block}