{define col-varSymbol}
	<td>
		#{$row->getId()}<br/>
		<small>{$row->getVarSymbol()}</small>
	</td>
{/define}
{define col-fullname}
	<td>
		<div class="pull-left" style="margin-right: 5px">
			<img n:if="$row->getAvatar()" class="img-responsive" n:img="$row->getAvatar(), 48, 48, exact, $row->getAvatarCrop()" alt="foto"/>
			<img n:if="!$row->getAvatar()" class="img-responsive" n:img="$row->isMale() ? 'avatar_boy.jpg' : 'avatar_girl.jpg', 48, 48, exact" alt="foto"/>
		</div>

		{if $row->getNickName()}
			<small class="pull-right"><small>{$row->getAddressCity()}</small></small>
			<strong>{$row->getNickName()}</strong><br/>
			<small>{$row->getFirstName()} {$row->getLastName()|upper}</small>
		{else}
			<small class="pull-right"><small>{$row->getAddressCity()}</small></small>
			<strong>{$row->getFirstName()} {$row->getLastName()|upper}</strong><br/>
			<small></small>
		{/if}
	</td>
{/define}
{define col-registeredAt}
	<td>
		{$row->getRegisteredAt() ? $row->getRegisteredAt()->format('j.n.Y'): ''}
	</td>
{/define}
{define col-address}
	<td>
		{$row->getAddressCity()}
	</td>
{/define}
{define col-arriveAndDeparture}
	<td>
		{$row->getArriveDate() ? $row->getArriveDate()->format('j.n.'): ''}
		{*$row->getDepartureDate() ? $row->getDepartureDate()->format('j.n.Y'): ''*}
	</td>
{/define}
{define col-age}
	<td>
		{$row->getAge($ageInDate)} let<br/>
		<small>{if $row->getBirthdate()}{$row->getBirthdate()->format("j.n.Y")}{/if}</small>
	</td>
{/define}
{define col-group}
	<td>
		{if $row->getWorkgroup()}
			{$row->getWorkgroup()->name}
		{/if}
		<br/>
		<small n:if="$row->job">{$row->getJob()->name}</small>
	</td>
{/define}
{define col-team}
	<td>
		{if $row->getTeam()}
			{$row->getTeam()->abbr}
			<br/>
			<small>{$row->getTeam()->name}</small>
		{/if}
	</td>
{/define}
{define col-contact}
	<td>
		{$row->getPhone()|phone}
		<br/>
		<small>{$row->getEmail()}</small>
	</td>
{/define}
{define col-tshirtSize}
	<td>
		{$row->getTshirtSizeName()}
	</td>
{/define}
{define col-wantHandbook}
	<td>
		<i title="$row->getWantHandbook() ? Ano : Ne" n:class="$row->getWantHandbook() ? ficon-book-add"></i>
	</td>
{/define}
{define col-confirmed}
	<td n:class="$row->confirmed ? cell-flag-blue, cell-flag">
		<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'confirmed', !$row->confirmed}">
		<i n:class="$row->confirmed ? ficon-flag-blue : ficon-flag-gray"></i>
		</a>
	</td>
{/define}
{define col-paid}
	<td n:class="$row->paid ? cell-flag-green, cell-flag">
		<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'paid', !$row->paid}">
		<i n:class="$row->paid ? ficon-flag-green : ficon-flag-gray"></i>
		</a>
	</td>
{/define}
{define col-arrived}
	<td n:class="$row->arrived ? cell-flag-pink, cell-flag">
		<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'arrived', !$row->arrived}">
		<i n:class="$row->arrived ? ficon-flag-pink : ficon-flag-gray"></i>
		</a>
	</td>
{/define}
{define col-left}
	<td n:class="$row->left ? cell-flag-yellow, cell-flag">
		<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'left', !$row->left}">
		<i n:class="$row->left ? ficon-flag-yellow : ficon-flag-gray"></i>
		</a>
	</td>
{/define}

{define col-filter-team}
{input $column->name class=>"input-sm multiselect", size=>2}
{/define}
{define col-filter-tshirtSize}
{input $column->name class=>"input-sm multiselect", size=>2}
{/define}
