{block breadcrumb}
<ol class="breadcrumb">
    <li><a n:href="Homepage:">Registrační systém pro servis tým</a></li>
    <li class="active">Doplňující informace</li>
</ol>
{/block}

{block content}
<h2>Doplňující informace</h2>

{control frmAdditional}

{/block}
