{block breadcrumb}
<ol class="breadcrumb">
    <li><a n:href="Homepage:" class="btn btn-xs btn-default">&laquo; Zpět</a></li>
    <li><a n:href="Homepage:">Registrační systém pro servis tým</a></li>
    <li class="active">Zrušení registrace</li>
</ol>
{/block}

{block content}
<h2>Zrušit svoji registraci (účast na Obroku 2015)</h2>
<p>
    Opravdu chcete zrušit svou účast na Obroku?
</p>
{control frmCancel}


<a n:href="Homepage:" class="btn btn-default">Zpět na nástěnku</a>

{/block}
