{block breadcrumb}
<ol class="breadcrumb">
    <li><a n:href="Homepage:">Registrační systém pro servis tým</a></li>
    <li class="active">Změnit přihlašovací údaje</li>
</ol>
{/block}

{block content}
<div class="center">
    <h2>Upravit svoje přihlašovací údaje</h2>
    {control frmEditLogin}
</div>
{/block}
