{block breadcrumb}
<ol class="breadcrumb">
    <li><a n:href="Homepage:" class="btn btn-xs btn-default">&laquo; Zpět</a></li>
    <li><a n:href="Homepage:">Registrační systém pro servis tým</a></li>
    <li class="active">Editovat své údaje</li>
</ol>
{/block}

{block content}
<h2>Upravit svoje údaje</h2>

{control frmEdit}

{/block}
