<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title n:inner-snippet="title">Obrok 2019 / Databáze{ifset $title} / {$title}{/ifset}</title>

      <link rel="icon" href="/assets/favicon/cropped-Obrok19_svetle_logo-3-32x32.png" sizes="32x32" />
      <link rel="icon" href="/assets/favicon/cropped-Obrok19_svetle_logo-3-192x192.png" sizes="192x192" />
      <link rel="apple-touch-icon-precomposed" href="/assets/favicon/cropped-Obrok19_svetle_logo-3-180x180.png" />
      <meta name="msapplication-TileImage" content="/assets/favicon/cropped-Obrok19_svetle_logo-3-270x270.png" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"  type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>

    <!-- croppie -->
    <script src="{$storageUrl}/front/js/croppie.js" type="text/javascript"></script>
    <script src="{$storageUrl}/front/js/nette.croppie.js" type="text/javascript"></script>

    <script src="{$storageUrl}/database/vendor/nette.ajax/nette.ajax.js" type="text/javascript"></script>
    <script src="{$storageUrl}/database/vendor/nette.ajax/extensions/history.ajax.js" type="text/javascript"></script>

    <script src="{$storageUrl}/database/vendor/jquery.livequery.min.js" type="text/javascript"></script>

    <script src="{$storageUrl}/database/vendor/jquery.serializefullarray.js" type="text/javascript"></script>

    <link href="{$storageUrl}/database/vendor/bootstrap-multiselect.css" rel="stylesheet">
    <script src="{$storageUrl}/database/vendor/bootstrap-multiselect.js" type="text/javascript"></script>

    <link href="{$storageUrl}/database/vendor/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="{$storageUrl}/database/vendor/bootstrap-datetimepicker.js" type="text/javascript"></script>

    <link href="{$storageUrl}/database/vendor/typeahead.css" rel="stylesheet">
    <script src="{$storageUrl}/database/vendor/typeahead.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <link  href="{$storageUrl}/database/main.css?v=3" rel="stylesheet">
    <script src="{$storageUrl}/database/main.js?v=1" type="text/javascript" ></script>
	{block head}{/block}

</head>

<body>

<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand ajax" href="{plink Dashboard:}" style="margin-top: -6px;">
              <img src="/assets/img/logo_small.png" alt="Obrok 2019" id="logo" height="33">
          </a>
        </div>
        <div class="navbar-collapse collapse" n:snippet="navbar">
          <ul class="nav navbar-nav">
            <li n:class="$presenter->isLinkCurrent('Serviceteam:*') ? active"><a class="ajax" n:href="Serviceteam:">Servis tým</a></li>
            <li n:class="$presenter->isLinkCurrent('Groups:*') ? active"><a class="ajax" n:href="Groups:">Skupiny</a></li>
            <li n:class="$presenter->isLinkCurrent('Participants:*') ? active"><a class="ajax" n:href="Participants:">Účastníci</a></li>
            <li n:class="$presenter->isLinkCurrent('UnspecifiedPersons:*') ? active"><a class="ajax" n:href="UnspecifiedPersons:">Nezúčastnění</a></li>
            {*<li n:class="$presenter->isLinkCurrent('Payments:*') ? active"><a href="{plink Payments:}">Platby</a></li>*}
            <li n:class="$presenter->isLinkCurrent('Program:*') ? active"><a class="ajax" n:href="Program:">Programy</a></li>
          </ul>

            {*<div class="navbar-text">*}
                {*<img n:if="$me->getAvatar()" class="img-responsive" n:img="$me->getAvatar(), 32, 32, exact, $me->getAvatarCrop()" alt="foto" />*}
                {*<img n:if="!$me->getAvatar()" class="img-responsive" n:img="$me->isMale() ? 'avatar_boy.jpg' : 'avatar_girl.jpg', 32, 32, exact" alt="foto" />*}
            {*</div>*}

           <ul class="nav navbar-nav navbar-right">
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {$me->fullname} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{plink :Front:Serviceteam:Homepage:}">Moje nástěnka</a></li>
                    <li><a href="{plink logout!}">Odhlásit se</a></li>
                </ul>
            </li>
          </ul>
          <form n:name="frmSearch" class="ajax navbar-form navbar-right">
            <div class="form-group">
                <input n:name="query" class="form-control" placeholder=Vyhledat ...">
            </div>
            <button n:name="send" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </form>
        </div>
      </div>
    </div>

    <section class="wrapper scrollable extended">

            <div class="container-fluid">
                    {snippet flashes}
                    <div class="container" n:if="$flashes">
                        <div class="row">
                            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {$flash->message}
                            </div>
                        </div>
                     </div>
                    {/snippet}

                    {snippet content}
                        {include #content}
                    {/snippet}

            </div> <!-- /container -->

    </section>

</body>
</html>
