{define col-id}
<td width="60">
    #{$row->id}
</td>
{/define}
{define col-fullname}
<td>
    {*<img n:if="$row->group" src="{plink Image: (expand) $row->group->getAvatarType('dbrow')}" alt="foto" style="float: left;margin-right: 10px;" />*}
    {if $row->nickName}
        <strong>{$row->nickName}</strong>
        <br /><small>{$row->firstName} {$row->lastName|upper}</small>
    {else}
        <strong>{$row->firstName} {$row->lastName|upper}</strong>
        <br /><small></small>
    {/if}
    <div class="pull-right text-right">
        <a n:if="$acl->edit" class="btn btn-xs btn-default" href="{plink Participants:loginAs $row->id}">Přihlásit se</a>
    </div>
</td>
{/define}
{define col-age}
<td>
    {$row->getAge($ageInDate)} let<br />
    <small>{$row->birthdate->format("j.n.Y")}</small>
</td>
{/define}
{define col-group}
<td>
    <div class="pull-left" style="margin-right: 5px">
        <img n:if="$row->group->getAvatar()" class="img-responsive" n:img="$row->group->getAvatar(), 48, 48, exact, $row->group->getAvatarCrop()" alt="foto" />
        <img n:if="!$row->group->getAvatar()" class="img-responsive" n:img="'avatar_group.jpg', 48, 48, exact" alt="foto" />
    </div>

    {var $groupName => "{$row->group->name} {$row->group->city}"}
    <div class="pull-right text-right">
        <a class="btn btn-xs btn-default ajax" href="{plink Groups:detail $row->group->id}">Otevřít</a><br />
        <a class="btn btn-xs btn-default" n:href="this filter=>['group'=>$groupName]">Vyfiltrovat</a>
    </div>

    <strong n:if="$row->group">#{$row->group->id} {$row->group->name}</strong>
    <br /><small n:if="$row->group">{$row->group->city}</small>


</td>
{/define}
{define col-contact}
<td>
    {$row->getPhone()|phone}
    <br /><small>{$row->email}</small>
</td>
{/define}
{define col-address}
<td>
    {$row->addressStreet}
    <br /><small>{$row->addressCity} {$row->addressPostcode}</small>
</td>
{/define}
{define col-wantHandbook}
<td>
    <i title="$row->getWantHandbook() ? Ano : Ne" n:class="$row->getWantHandbook() ? ficon-book-add"></i>
</td>
{/define}
{define col-graduateStudent}
<td n:class="$row->isGraduateStudent() ? cell-flag-purple, cell-flag">
    <a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'graduateStudent', !$row->isGraduateStudent()}">
        <i n:class="$row->isGraduateStudent() ? ficon-flag-purple : ficon-flag-gray"></i>
    </a>
</td>
{/define}
{define col-confirmed}
<td n:class="$row->confirmed ? cell-flag-blue, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'confirmed', !$row->confirmed}">*}
        <i n:class="$row->confirmed ? ficon-flag-blue : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/define}
{define col-paid}
<td n:class="$row->paid ? cell-flag-green, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'paid', !$row->paid}">*}
        <i n:class="$row->paid ? ficon-flag-green : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/define}
{define col-arrived}
<td n:class="$row->arrived ? cell-flag-pink, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'arrived', !$row->arrived}">*}
        <i n:class="$row->arrived ? ficon-flag-pink : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/define}
{define col-left}
<td n:class="$row->left ? cell-flag-yellow, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'left', !$row->left}">*}
        <i n:class="$row->left ? ficon-flag-yellow : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/define}

