{var $title = 'Registrace do servis týmu'}

{block content}

{if $openRegistrationServiceteam}
    <h2>Registrace do servis týmu</h2>
    <div class="row">
        <div class="col-md-6">
                {control frmRegistration}
        </div>
    </div>
{else}
    <h2>Registrace do Servis týmu je ukončena</h2>
    <p>Z důvodu plné kapacity</p>
{/if}

{/block}
