{block content}

<div class="center">
    <h2>Registrace do servis týmu pro předem domluvené ST</h2>
    <p>V případě že jste dostali tento odkaz, pravděpodobně jste k někomu domluveni do týmu. Veřejná registrace ST je už uzavřená.</p>
    {control frmRegistration}
    
</div>

{/block}
