<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Potvrzení</title>
	<style>
		body {
			font-family: Arial;
			font-size: 10px;
		}
		table {
			width: 100%;
			border-collapse: collapse;
			border-left: 0;
			border-right: 0;
		}
		table td,
		table th {
			text-align: left;
			padding: 1px 3px;
			border-left: 0;
			border-right: 0;
		}
		table tr.boss { background: #cccccc; }

		table thead th {
			font-size: 1.0em;
			font-weight: normal;
		}

		p,li { text-align: justify; }

		h1 { font-size: 16px; }
		hr { display: block; margin: 10px 0; border: 0; height: 1px; background: black; }

		.no {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.flt-l { float: left; }
		.flt-r { float: right; }
		.cls { clear: both; }

		.w50 { width: 50%; }
	</style>
</head>
<body>

{foreach $list as $group}

<div class="group-confirmation">


	<table>
		<tr>
			<td style="text-align: left">
				<h1>
					<em>#{$group->id}</em> {$group->name}<br /><small>({$group->city})</small>
				</h1>
			</td>
			<td style="text-align: right">
				<img class="logo" src="assets/img/logo_small.png" alt="Obrok 2019" height="3em" />
			</td>
		</tr>
	</table>

	<hr />

	<p>
		Podpisem níže potvrzuji platnost vlastních údajů, souhlasím s podmínkami akce uvedenými na https://obrok19.cz/pravidla-obroku-2019/ a
		se zpracováním a ochranou osobních údaju této registrace a jejich příloh, které se řídí pravidly a poučením příhlášky člena organizace Junák – ceský skaut, z.s.
		a tedy splňuje požadavky dané zákonem c. 101/2000 sb., o ochraně osobních údaju a o změně některých zákonů ve znění pozdějších předpisů a
		vnitřní Směrnice pro nakládání s osobními údaji v Junáku – českém skautu, a to po dobu trvání a v nezbytném rozsahu i po skončení akce Obrok 2019.
	</p>
	<table class="table-bordered" border="1">
		<thead>
			<tr>
				<th></th>
				<th>Jméno</th>
				<th>Telefon</th>
				<th>Narozen</th>
				<th>Adresa</th>
				<th>Poznámka</th>
				<th>Podpis</th>
			</tr>
		</thead>
		<tbody>
            {foreach $group->getConfirmedParticipants() as $participant}
            <tr{if $participant->isBoss()} class="boss"{/if}>
                <td>{$iterator->getCounter()}.</td>
                <td>{$participant->getFullName()}</td>
                <td>{$participant->phone}</td>
                <td>{$participant->birthdate->format('j.n.Y')}</td>
                <td>
                    {$participant->addressStreet}<br />
                    {$participant->addressPostcode} {$participant->addressCity}
                </td>
				<td></td>
				<td></td>
            </tr>
            {/foreach}

			{for $i=0; $i < 4; $i++}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						&nbsp;<br />
						&nbsp;
					</td>
				</tr>
			{/for}
		</tbody>
	</table>

	<h2>Potvrzení vedoucícho</h2>
	<p>
		Potvrzuji, že za nezletilé osoby v této skupině nesu jako plnoletý vedoucí skupiny během celé akce zodpovědnost.
	</p>
	<p>
		Podpis vedoucího skupiny: .............................
	</p>
</div>

<pagebreak />

{/foreach}
</body>
</html>

