{redefine col-varSymbol}
<td width="60">
    #{$row->id}<br />
    <small>{$row->varSymbol}</small>
</td>
{/redefine}
{redefine col-name}
<td>
    {*<img src="{plink Image: (expand) $row->getAvatarType($row::AVATAR_TYPE_DBROW)}" alt="foto" style="float: left;margin-right: 10px;" />*}
    <strong>{$row->name}</strong>
    <br /><small>{$row->city}</small>
</td>
{/redefine}
{redefine col-contact}
<td>
    {$row->getPhone()|phone}
    <br /><small>{$row->email}</small>
</td>
{/redefine}

{redefine col-participantsCount}
<td>
    {$row->getConfirmedParticipantsCount()} členů
    {*<br /><small>Zaplaceno za: {$row->paidFor}</small>*}
</td>
{/redefine}

{redefine col-confirmed}
<td n:class="$row->confirmed ? cell-flag-blue, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'confirmed', !$row->confirmed}">*}
        <i n:class="$row->confirmed ? ficon-flag-blue : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/redefine}
{redefine col-paid}
<td n:class="$row->paid ? cell-flag-green : ($row->isPartlyPaid() ? cell-flag-orange), cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'paid', !$row->paid}">*}
        <i n:class="$row->paid ? ficon-flag-green : ($row->isPartlyPaid() ? ficon-flag-orange : ficon-flag-gray)"></i>
    {*</a>*}
</td>
{/redefine}
{redefine col-arrived}
<td n:class="$row->arrived ? cell-flag-pink, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'arrived', !$row->arrived}">*}
        <i n:class="$row->arrived ? ficon-flag-pink : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/redefine}
{redefine col-left}
<td n:class="$row->left ? cell-flag-yellow, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'left', !$row->left}">*}
        <i n:class="$row->left ? ficon-flag-yellow : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/redefine}


