{redefine col-varSymbol}
<td width="60">
    #{$row->id}<br />
    <small>{$row->varSymbol}</small>
</td>
{/redefine}
{redefine col-name}
<td>
    <div class="pull-left" style="margin-right: 5px">
        <img n:if="$row->getAvatar()" class="img-responsive" n:img="$row->getAvatar(), 48, 48, exact, $row->getAvatarCrop()" alt="foto" />
        <img n:if="!$row->getAvatar()" class="img-responsive" n:img="'avatar_group.jpg', 48, 48, exact" alt="foto" />
    </div>

    <strong>{$row->name}</strong>
    <br /><small>{$row->city}</small>
</td>
{/redefine}
{redefine col-contact}
<td>
    {$row->getPhone()|phone}
    <br /><small>{$row->email}</small>
</td>
{/redefine}

{redefine col-participantsCount}
<td>
    {$row->getConfirmedParticipantsCount()} členů
    {*<br /><small>Zaplaceno za: {$row->paidFor}</small>*}
</td>
{/redefine}

{redefine col-confirmed}
<td n:class="$row->isConfirmed() ? cell-flag-blue, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'confirmed', !$row->confirmed}">*}
        <i n:class="$row->isConfirmed() ? ficon-flag-blue : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/redefine}
{redefine col-paid}
<td n:class="$row->isPaid() ? cell-flag-green, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'paid', !$row->paid}">*}
        <i n:class="$row->isPaid() ? ficon-flag-green : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/redefine}
{redefine col-arrived}
<td n:class="$row->isArrived() ? cell-flag-pink, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'arrived', !$row->arrived}">*}
        <i n:class="$row->isArrived() ? ficon-flag-pink : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/redefine}
{redefine col-left}
<td n:class="$row->isLeft() ? cell-flag-yellow, cell-flag">
    {*<a n:tag-if="$acl->edit" class="ajax" href="{plink status! id=>$row->id, 'left', !$row->left}">*}
        <i n:class="$row->isLeft() ? ficon-flag-yellow : ficon-flag-gray"></i>
    {*</a>*}
</td>
{/redefine}


