{block content}
{var $region = null}
<table class="table table-bordered">
{foreach $list as $item}
	{if $item->region != $region}
		{var $region = $item->region}
		<tr>
			<th colspan="3">{$region}</th>
		</tr>
		<tr>
			<th>Id</th>
			<th>Název</th>
			<th>Město</th>
			<th>Počet učastníků</th>
		</tr>
	{/if}
	<tr>
		<td>{$item->id}</td>
		<td><strong>{$item->name}</strong></td>
		<td>{$item->city}</td>
		<td>{$item->participants_count}</td>
	</tr>
{/foreach}
</table>

{/block}