{block content}



<div class="row">
	<div class="col-md-4">

		<table class="table table-bordered table-condensed table-striped table-hover">

		    <thead>
                <tr>
                    <th colspan="999">Přehled</th>
                </tr>
            </thead>
			<tr>
				<td></td>
				<td class="cell-flag-blue cell-flag"><i class="ficon-flag-blue tipsy" title="Registrováni"></i></td>
				<td class="cell-flag-green cell-flag"><i class="ficon-flag-green tipsy" title="Platící"></i></td>
				<td class="cell-flag-pink cell-flag"><i class="ficon-flag-pink tipsy" title="Přijeli"></i></td>
				<td class="cell-flag-yellow cell-flag"><i class="ficon-flag-yellow tipsy" title="Odjeli"></i></td>
			</tr>
			<tr>
				<td>Servis tým</td>
				<td class="cell-flag-blue cell-flag">{$serviceteam->confirmed}</td>
				<td class="cell-flag-green cell-flag">{$serviceteam->paid} <br><small>{=$serviceteam->paid*350} Kč</small> </td>
				<td class="cell-flag-pink cell-flag">{$serviceteam->arrived}</td>
				<td class="cell-flag-yellow cell-flag">{$serviceteam->left}</td>
			</tr>
			<tr>
				<td>Skupiny</td>
				<td class="cell-flag-blue cell-flag">{$groups->confirmed}</td>
				<td class="cell-flag-green cell-flag">{$groups->paid}</td>
				<td class="cell-flag-pink cell-flag">{$groups->arrived}</td>
				<td class="cell-flag-yellow cell-flag">{$groups->left}</td>
			</tr>
			<tr>
				<td>Účastníci</td>
				<td class="cell-flag-blue cell-flag">{$participants->confirmed}</td>
				<td class="cell-flag-green cell-flag">{$participants->paid} <br><small>{=$participants->paid*700} Kč</small> </td>
				<td class="cell-flag-pink cell-flag">{$participants->arrived}</td>
				<td class="cell-flag-yellow cell-flag">{$participants->left}</td>
			</tr>
      			<tr>
				<td>Celkem</td>
				<td class="cell-flag-blue cell-flag">{=$participants->confirmed+$serviceteam->confirmed}</td>
				<td class="cell-flag-green cell-flag">{=$participants->paid+$serviceteam->paid} <br><small>{=$serviceteam->paid*350+$participants->paid*700} Kč</small> </td>
				<td class="cell-flag-pink cell-flag"></td>
				<td class="cell-flag-yellow cell-flag"></td>
			</tr>
      
		</table>

        <table class="table table-bordered table-condensed table-striped table-hover table-warning" n:ifcontent>
            {define tr}
                <tr>
                    <td width="60">
                        #{$row->id}<br />
                        <small>{$row->varSymbol}</small>
                    </td>
                    <td>
                        <a href="{plink Groups:detail $row->id}" class="ajax tr-link"></a>

                        <div class="pull-left" style="margin-right: 5px">
                            <img n:if="$row->getAvatar()" class="img-responsive" n:img="$row->getAvatar(), 48, 48, exact, $row->getAvatarCrop()" alt="foto" />
                            <img n:if="!$row->getAvatar()" class="img-responsive" n:img="'avatar_group.jpg', 48, 48, exact" alt="foto" />
                        </div>

                        <strong>{$row->name}</strong>
                        <br /><small>{$row->city}</small>
                    </td>
                    <td>
                        {$row->getConfirmedParticipantsCount()} členů
                    </td>
                </tr>
            {/define}

            {if count($warningGroups->noBoss)}
                <thead>
                <tr>
                    <th colspan="99">
                        <img src="{$storageUrl}/database/img/datagrid/icons/error.png" />
                        Skupiny co nemají vedoucího ({=count($warningGroups->noBoss)})
                    </th>
                </tr>
                </thead>
                <tbody>
                {foreach $warningGroups->noBoss as $row}
                    {include #tr}
                {/foreach}
                </tbody>
            {/if}

            {if count($warningGroups->fewParticipants)}
                <thead>
                    <tr>
                        <th colspan="99">
                            <img src="{$storageUrl}/database/img/datagrid/icons/error.png" />
                            Skupiny s málo účastníky ({=count($warningGroups->fewParticipants)})
                        </th>
                    </tr>
                </thead>
                <tbody>
                {foreach $warningGroups->fewParticipants as $row}
                    {include #tr}
                {/foreach}
                </tbody>
            {/if}

            {if count($warningGroups->paidWithUnpaidParticipant)}
                <thead>
                    <tr>
                        <th colspan="99">
                            <img src="{$storageUrl}/database/img/datagrid/icons/error.png" />
                            Zaplacené skupiny s nezaplacenými účastníky ({=count($warningGroups->paidWithUnpaidParticipant)})
                        </th>
                    </tr>
                </thead>
                <tbody>
                {foreach $warningGroups->paidWithUnpaidParticipant as $row}
                    {include #tr}
                {/foreach}
                </tbody>
            {/if}

            {if count($warningGroups->confirmedWithPaidParticipant)}
                <thead>
                    <tr>
                        <th colspan="99">
                            <img src="{$storageUrl}/database/img/datagrid/icons/error.png" />
                            Nezaplacené skupiny co mají zaplacené některé členy ({=count($warningGroups->confirmedWithPaidParticipant)})
                        </th>
                    </tr>
                </thead>
                <tbody>
                {foreach $warningGroups->confirmedWithPaidParticipant as $row}
                    {include #tr}
                {/foreach}
                </tbody>
            {/if}
        </table>


	</div>

	<div class="col-md-4">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="999">Registrace účastníků</th>
                </tr>
            </thead>
            <tr>
                {if $openRegistrationParticipantsSettings}
                <td class="success">
                    <div class="text-success">Registrace je právě <strong>otevřena do maxima {$participantsCapacity} účastníků<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></strong></div>
                    <a n:href="closeParticipantRegistration!" class="btn btn-warning ajax">Uzavřít registraci</a>
                </td>
                {else}
                <td class="danger">
                    <div class="text-danger">Registrace je právě <strong>uzavřena <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></strong></div>
                    <a n:href="openParticipantRegistration!" class="btn btn-warning ajax">Otevřít registraci</a>
                </td>
                {/if}
            </tr>
            <tr>
                <td>
                    <form n:name="frmParticipantsCapacity" class="form-inline ajax">
                        <div class="form-group">
                            <label n:name="capacity">Maximální počet účastníků: </label>
                            <input n:name="capacity" class="form-control" placeholder="Kapacita">
                        </div>
                        <button n:name="send" class="btn btn-default">Uložit</button>
                    </form>
                </td>
            </tr>
        </table>

        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="999">Registrace servis týmu</th>
                </tr>
            </thead>
            <tr>
                {if $openRegistrationServiceteam}
                <td class="success">
                    <div class="text-success">Registrace je práve <strong>otevřena <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></strong></div>
                    <a n:href="closeServiceteamRegistration!" class="btn btn-warning ajax">Uzavřít registraci</a>
                </td>
                {else}
                <td class="danger">
                    <div class="text-danger">Registrace je práve <strong>uzavřena <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></strong></div>
                    <a n:href="openServiceteamRegistration!" class="btn btn-warning ajax">Otevřít registraci</a>
                </td>
                {/if}
            </tr>
        </table>

        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th colspan="999">Registrace programů</th>
            </tr>
            </thead>
            <tr>
                {if $openRegistrationProgram}
                    <td class="success">
                        <div class="text-success">Registrace je práve <strong>otevřena <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></strong></div>
                        <a n:href="closeProgramRegistration!" class="btn btn-warning ajax">Uzavřít registraci programů</a>
                    </td>
                {else}
                    <td class="danger">
                        <div class="text-danger">Registrace je práve <strong>uzavřena <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></strong></div>
                        <a n:href="openProgramRegistration!" class="btn btn-warning ajax">Otevřít registraci programů</a>
                    </td>
                {/if}
            </tr>
            <tr>
                <td>
                    <form n:name="frmProgramRegistrationDateFrom" class="form-inline ajax">
                        <div class="form-group">
                            <label n:name="date">Datum začátku registrace programů: </label>
                            <input n:name="date" class="form-control" placeholder="dd.mm.rrrr hh:mm">
                        </div>
                        <button n:name="send" class="btn btn-default">Uložit</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-bordered table-condensed table-striped table-hover">

		    <thead>
                <tr>
                    <th colspan="999">Počet triček pro potvrzené ST</th>
                </tr>
                <tr>
                    <th>Velikost trička</th>
                    <th>Počet</th>
                </tr>
            </thead>
            {foreach $tshirts as $name => $count}
			<tr>
				<td>{$name}</td>
				<td>{$count} ks</td>
			</tr>
			{/foreach}
		</table>
    </div>
</div>



<div class="row" n:snippet="data">
    <div class="col-md-4">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="99">Poslední registrování servisáci</th>
                </tr>
            </thead>
            <tbody>
                {foreach $lastServiceteam as $row}
                <tr>
                    <td width="60">
                        #{$row->id}<br />
                        <small>{$row->varSymbol}</small>
                    </td>
                    <td>
                        <a href="{plink Serviceteam:detail $row->id}" class="ajax tr-link"></a>

                        <div class="pull-left" style="margin-right: 5px">
                            <img n:if="$row->getAvatar()" class="img-responsive" n:img="$row->getAvatar(), 48, 48, exact, $row->getAvatarCrop()" alt="foto"/>
                            <img n:if="!$row->getAvatar()" class="img-responsive" n:img="$row->isMale() ? 'avatar_boy.jpg' : 'avatar_girl.jpg', 48, 48, exact" alt="foto"/>
                        </div>

                        {if $row->nickName}
                            <strong>{$row->nickName}</strong>
                            <br /><small>{$row->firstName} {$row->lastName|upper}</small>
                        {else}
                            <strong>{$row->firstName} {$row->lastName|upper}</strong>
                            <br /><small></small>
                        {/if}
                    </td>
                    <td>
                        {$row->getAge($ageInDate)} let<br />
                        <small>{$row->birthdate->format("j.n.Y")}</small>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="99">Poslední registrováné skupiny</th>
                </tr>
            </thead>
            <tbody>
                {foreach $lastGroups as $row}
                <tr>
                    <td width="60">
                        #{$row->id}<br />
                        <small>{$row->varSymbol}</small>
                    </td>
                    <td>
                        <a href="{plink Groups:detail $row->id}" class="ajax tr-link"></a>

                        <div class="pull-left" style="margin-right: 5px">
                            <img n:if="$row->getAvatar()" class="img-responsive" n:img="$row->getAvatar(), 48, 48, exact, $row->getAvatarCrop()" alt="foto" />
                            <img n:if="!$row->getAvatar()" class="img-responsive" n:img="'avatar_group.jpg', 48, 48, exact" alt="foto" />
                        </div>

                        <strong>{$row->name}</strong>
                        <br /><small>{$row->city}</small>
                    </td>

                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
            <table class="table table-bordered table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="99">Poslední registrování účastníci</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $lastParticipants as $row}
                    <tr>
                        <td width="60">
                            #{$row->id}<br />
                        </td>
                        <td>
                            <a href="{plink Participants:detail $row->id}" class="ajax tr-link"></a>

                            {if $row->nickName}
                                <strong>{$row->nickName}</strong>
                                <br /><small>{$row->firstName} {$row->lastName|upper}</small>
                            {else}
                                <strong>{$row->firstName} {$row->lastName|upper}</strong>
                                <br /><small></small>
                            {/if}
                        </td>
                        <td>
                            <strong n:if="$row->group">{$row->group->name}</strong>
                            <br /><small n:if="$row->group">{$row->group->city}</small>
                        </td>
                        <td>
                            {$row->getAge($ageInDate)} let<br />
                            <small>{$row->birthdate->format("j.n.Y")}</small>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div id="chartServiceteamTeams" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="col-md-4">
        <div id="chartGroupsRegions" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="col-md-4">
        <div id="chartParticipantsRegions" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<script type="text/javascript">
    google.load("visualization", "1", {
        packages:["corechart"]
    });
    google.setOnLoadCallback(drawChart);
    function drawChart() {

        // Servistym podle tymu

        var data = google.visualization.arrayToDataTable([
            ['Tým', 'Počet servisáků'],
            {foreach $chartServiceteam as $data}
                [{$data['name']}, {$data['count']}]{sep},{/sep}
            {/foreach}
        ]);
        var options = {
            title: 'Servisáci podle rozdělení do týmů'
        };
        var chart = new google.visualization.PieChart(document.getElementById('chartServiceteamTeams'));
        chart.draw(data, options);


        // Skupiny podle kraju

        var data = google.visualization.arrayToDataTable([
            ['Kraj', 'Počet skupin'],
            {foreach $chartRegions as $data}
            [{$data['name']}, {$data['count']}]{sep},{/sep}
            {/foreach}
        ]);
        var options = {
            title: 'Skupiny podle Krajů'
        };
        var chart = new google.visualization.PieChart(document.getElementById('chartGroupsRegions'));
        chart.draw(data, options);



        // Ucastnici podle kraju

         var data = google.visualization.arrayToDataTable([
            ['Kraj', 'Počet účastíků'],
            {foreach $chartRegions as $data}
            [{$data['name']}, {$data['count_participants']}]{sep},{/sep}
            {/foreach}
        ]);
        var options = {
            title: 'Účastníci podle Krajů'
        };
        var chart = new google.visualization.PieChart(document.getElementById('chartParticipantsRegions'));
        chart.draw(data, options);

    }
</script>



{/block}
